<div class="col-lg-3 col-md-12">
    <!-- Price Start -->
    <div class="border-bottom mb-4 pb-4">        
        <ul class="treeview-menu">
            <li><a href="~/User/Profile"><i class="fa fa-circle-o"></i> Hồ sơ của tôi</a></li>
            <li><a href="~/User/Purchase"><i class="fa fa-circle-o"></i> Đơn mua</a></li>            
        </ul>
    </div>      
    <!-- Size End -->
</div>