<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview">
                <a href="~/">
                    <i class="fa fa-home"></i> <span>Trang Chủ</span>

                </a>
            </li> 
            <li class="treeview active">                
                <ul class="treeview-menu">                    
            </li>
        </ul>
        <li class="treeview active">
            <a href="#">
                <i class="fa fa-folder"></i> <span>Quản lí đơn hàng</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">                
                <li><a href="~/ShipperArea/Order"><i class="fa fa-circle-o"></i> Nhận đơn hàng</a></li>
        </li>
    </section>
    <!-- /.sidebar -->
</aside>
